.filter-container {
    margin-block-end: 1em;
}

.filter-container>form {
    width: fit-content;

    font-size: 1.35em;
}

.filter-container>form>label {
    font-weight: 600;
    font-size: 1.1em;
}

.filter-container>form>input {
    padding-block: 0.25em;
    padding-inline-start: 0.35em;

    font-size: 0.85em;

    background-color: hsl(0, 0%, 96%);
    border: 2px solid hsl(0, 0%, 86%);
    border-radius: 3px;
    box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.1);

    outline: none;

}