.book-edit-container {
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 5px;

    background-color: hsl(0, 0%, 96%);
    box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.book-edit {
    padding-block: 1em;

    width: fit-content;
}

.book-edit>h2 {
    margin-inline-end: 1em;
    padding-block: 0.25em;
    padding-inline: 0.5em;

    background-color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 92%);
    border-radius: 3px;    

    font-family: Lato-Regular;
    font-weight: 600;
    font-size: 1.75em;
    text-align: center;
}

.book-edit>h2>span {
    font-family: Eurofurencer;
}

.book-edit>label {
    margin-inline-end: 1em;
    padding-block: 0.25em;
    padding-inline: 0.5em;

    width: 100%;

    font-size: 1.25em;
    font-weight: 600;
    text-decoration: underline;

    background-color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 92%);
    border-radius: 3px;    

}

.book-edit>input {
    padding-inline-start: 0.5em;
    padding-block: 0.25em;

    width: 350px;

    font-size: 1.25em;

    background-color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 3px;

    outline: none;
}

.book-edit>.btn-container {
    margin-block-start: 1em;
}