.filter-container {
    margin-block-end: 1em;
}

.filter-container>fieldset {
    padding-block: 0.5em;
    padding-inline: 1em;

    width: fit-content;

    border: 2px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);

    font-size: 1.5em;
    font-weight: 600;
}

.filter-container>fieldset>input {
    padding-block: 0.25em;
    padding-inline-start: 0.35em;

    font-size: 0.85em;

    background-color: hsl(0, 0%, 96%);
    border: 2px solid hsl(0, 0%, 86%);
    border-radius: 3px;
    box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.1);

    outline: none;

    transition: background-color 300ms;
}

.filter-container>fieldset>input:hover {
    background-color: hsl(0, 0%, 98%);

}