.filter-container {
    margin-block-end: 1em;
}

.filter-container>fieldset {
    padding-block: 0.5em;
    padding-inline: 1em;

    width: fit-content;

    border: 2px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);

    font-size: 1.5em;
    font-weight: 600;
}

.filter-container>fieldset>input[type="text"] {
    padding-block: 0.25em;
    padding-inline-start: 0.35em;

    font-size: 0.85em;

    background-color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 86%);
    border-radius: 3px;
    box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.1);

    outline: none;

    transition: background-color 300ms;
}

.filter-container>fieldset>input:hover {
    background-color: hsl(0, 0%, 100%);
}

.filter-container>fieldset>button {
    padding-block: 0.1em;
    padding-inline: 0.25em;
    padding-block-end: 0.05em;

    font-size: 1.25em;

    background-color: hsl(101, 8%, 90%);
}

.filter-container>fieldset>button:hover {
    background-color: hsl(101, 8%, 96%);
}


.filter-container>fieldset>label {
    padding-block: 0.25em;
    padding-inline: 0.5em;

    font-size: 0.85em;

    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 86%);
    border-radius: 5px;
}

.filter-container>fieldset>div {
    /* margin-inline: 0.25em; */

    width: 1.25em;

    text-align: end;
}
