button {
    margin: 0.4em;
    padding: 0.4em 0.6em;

    background-color: rgb(237, 216, 228);
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 3px;   

    font-size: 1.1em;

    transition: background-color 300ms, border 1s;

    cursor: pointer;
}

button:hover {
    background-color: rgb(236, 208, 222);
    border: 2px solid hsl(0, 0%, 70%);
}

input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}