.container {
  padding: 1em;
  margin: auto;
}

.app-header {
  display: grid;
  grid-auto-flow: column;
}

.nav-bar {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;

  justify-self: end;
  align-self: center;
}

.filter-container {
  display: grid;
  grid-auto-flow: column;

  place-items: center;

}

.filter-container>fieldset {
  display: grid;
  grid-auto-flow: column;
  place-items: center;

  gap: 0.5em;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 1em;
}

.book-list>.book-preview {
  display: grid;
  align-items: center;
}

.book-list>.book-preview>h3 {
  display: grid;
  align-items: center;
}

.book-preview>.btn-container {
  display: grid;
  grid-auto-flow: column;
}

.book-details-container {
  display: grid;
  justify-items: center;

}

.book-details {
  display: grid;
  justify-items: center;
  
}